html, body, *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-size: 10px;
}

.fromContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 0 15%;
    gap: 20px;
}
form{
    width: 100%;
        /* background-color: aqua; */
        display: grid;
        align-items: center;
        grid-template-columns: repeat(2, 1fr);
        /* justify-items: center; */
        gap: 10px;
}
table tr:not(:first-child), td:not(last-child){
    cursor: pointer;
    transition: all .25s ease-in-out;
    /* transition: none; */
}

/* table tr:not(:first-child):hover, td:not(:last-child):hover{background-color: #ddd;} */

table tr:not(:first-child):hover{
    background-color: rgba(211, 211, 211, 0.331);
}

table th{
    padding: 0 10px;
    font-size: 1.5rem;
    height: 50px;
    background-color: wheat;
}

/* 
    - The table width = 100%
    - Table sholuld be in the center
    - 
*/
table{
    text-align: center;
    /* border-collapse: collapse; */
    border-spacing:0;
    width: 100%;
}

table tr > td{
    text-align: center;
    border-spacing:0;
    font-size: 1.3rem;
    padding: 10px 5px;
    /* height: 50px; */
}
/* table td:last-child:hover{
    background-color: white;
} */

form{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
label{
    width: 100%;
    padding: 5px 0 0 0;
    font-size: 1.6rem;
    font-weight: 600;
}

#genreContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px 0 10px;;
    width: 100%;
    height: 50px;
    border-radius: 5px;
    border: 1px solid grey;
}
.genreLbl{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.genreLbl > span{
    font-size: 1.3rem;
    font-weight: normal;
}

input[type="text"],input[type="date"],input[type="number"], select, option{
    width: 100%;
    height: 50px;
    padding: 0 10px 0 10px;
    font-size: 1.3rem;
    border-radius: 5px;
    border: 1px solid grey;
}
select, option{
    cursor: pointer;
}
input::-webkit-calendar-picker-indicator {
    cursor: pointer;
}

input:focus{
    border: 2px solid blue;
    outline: 0;
    /* outline-color: blue; */
    transition: all .1s ease-in-out;
    background-color: rgba(0, 0, 255, 0.03);
}
select:focus{
    border: 2px solid blue;
    outline: 0;
    /* outline-color: blue; */
    transition: all .1s ease-in-out;
    background-color: rgba(0, 0, 255, 0.03);

}

#genreContainer:focus-within{
    border: 2px solid blue;
    outline: 0;
    /* outline-color: blue; */
    transition: all .1s ease-in-out;
    background-color: rgba(0, 0, 255, 0.03);
}

button{
    width: 100%;
    font-size: 1.5rem;
    font-weight: 600;    
    padding: .7em;
    cursor: pointer;
    border-radius: 5px;
    border: .5px solid grey;
}

button:hover{
    transition: all .1s ease-in-out;
}

#Add{
    border: .5px solid green;
    background-color: rgba(0, 255, 157, 0.144);
}
#Add:hover{
    border: .5px solid green;
    background-color: rgba(0, 255, 157, 0.6);
}
#Update{
    border: .5px solid cornflowerblue;
    background-color: rgba(100, 148, 237, 0.144);
}
#Update:hover{
    border: .5px solid cornflowerblue;
    background-color: rgba(100, 148, 237, 0.6);
}
#Remove{
    border: .5px solid red;
    background-color: rgba(255, 0, 0, 0.144);
}
#Remove:hover{
    border: .5px solid red;
    background-color: rgba(255, 0, 0, 0.6);
    color: white;
    transition: all .1s ease-in-out;
}

#Update, #Remove{
    display: none;
}

.spanErrorClass{
    color: red;
    font-size: 1.5rem;
}